.hero {
    height: 100%;
    width: 100%;
  }

.hero .content{
position: absolute;
transform: translate(-50%,-50%);
top: 50%;
left: 50%;
text-align: center;

}
  .mask {
    width: 100%; /* Set the width of the mask to 100% */
    height: 100vh; /* Set the height of the mask to your desired fixed size */
    overflow: hidden;
  }

.intro-img {
    width: 100%; /* Set the width of the image to 100% */
    height: 100%; /* Set the height of the image to 100% */
    object-fit: cover; /* Ensure the image covers the entire container */
    background-size: cover;
    background-position: center;

}

.mask::after {
 content: "";
 width: 100%;
 height: 100%;
 position: absolute;
 top: 0;
 left: 0;
 background-color: black;
 opacity: 0.7;
}

.hero .content .h1{
font-size: 4rem;
padding: 0.6rem 0 1.5rem;

}

.hero .content .p {
font-size: 1.4rem;
font-size: 200;
text-transform: uppercase;

}

.content .btn {

margin: 1rem 0.2rem;    
}